@import "./iconos.css";
@import "./fondo.css";


body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    color: #f3f4f6; /* Gray 200 */
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.chip {
    @apply
        text-xs
        px-4
        py-1
        m-1
        rounded-s-full
        rounded-e-full
        flex
        gap-1
        items-center
        bg-white/10
        backdrop-blur-md
        text-white;
}

.main {
    @apply
        /* w-11/12 */
        container
        mx-auto
        px-8;
}

.section-title {
    @apply
        text-3xl
        font-bold
        tracking-tight
        sm:text-4xl;
}

.section-subtitle {
    @apply
        mt-2
        text-lg
        leading-8;
}

.section-header {
    @apply
        mx-auto
        max-w-2xl
        text-center;
}

.section-content {
    @apply
        mx-auto
        mt-16
        sm:mt-20;
}

.section {
    @apply
        isolate
        px-6
        py-24
        sm:py-32
        lg:px-8;
    animation: fadeIn 1s ease-in-out;
}


@keyframes typing {
    /* 0% { width: 0; }
    100% { width: 100%; } */
    from { width: 0% }
    to { width: 100% }
}

@keyframes blink {
    50% { border-color: white; }
}

.animate-typing {
    display: inline-block;
    white-space: nowrap; /* Para que el texto no se rompa en líneas */
    overflow: hidden; /* Esconde el texto que no ha aparecido */
    width: 0; /* Comienza con ancho 0 */
    border-right: 2px solid white;
    animation: typing 4s steps(30) infinite ; /* Ajusta el tiempo y pasos según sea necesario */
}

.animate-typing-1 {
    display: inline-block;
    white-space: nowrap; /* Para que el texto no se rompa en líneas */
    overflow: hidden; /* Esconde el texto que no ha aparecido */
    width: 0; /* Comienza con ancho 0 */
    border-right: 2px solid white;
    animation: typing 1s steps(30) forwards ; /* Ajusta el tiempo y pasos según sea necesario */
}
.animate-typing-2 {
    display: inline-block;
    white-space: nowrap; /* Para que el texto no se rompa en líneas */
    overflow: hidden; /* Esconde el texto que no ha aparecido */
    width: 0; /* Comienza con ancho 0 */
    border-right: 2px solid white;
    animation: typing 4s steps(30) 1s forwards ; /* Ajusta el tiempo y pasos según sea necesario */
}

button:hover, a:hover {
    @apply
        scale-105
        shadow-lg
        transition
        duration-300;
}

/* Mejora de accesibilidad */
.text-white {
    color: #f9fafb; /* Aumentar contraste */
}

/* Animaciones suaves */
.section {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

