---
import IconJs from '../icons/Js.astro';
import IconLaravel from '../icons/Laravel.astro';
import IconVue from '../icons/Vue.astro';
import IconJquery from '../icons/Jquery.astro';
import IconMercadopago from '../icons/Mercadopago.astro';
import IconArrowDown from '../icons/ArrowDown.astro';
import Job from '../Job.astro';

const props = Astro.props;

---

<section class="section bg-black bg-no-repeat bg-cover bg-center bg-fixed" style="background-image: url('img/1031-1000x500.jpg');" {...props}>
    <div class="section-header">
        <h2 class="section-title text-white">Mi Trabajo</h2>
        <h3 class="section-subtitle text-white">Una colección de proyectos en las que eh trabajado</h3>
    </div>
    <div class="section-content max-w-7xl" >
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">

            <Job title="Optimania" img="img/screenshot_1.png" url="https://optimania.pe/" >
                <Fragment slot="content">
                    <p>
                        Tienda online especializada en la venta de lentes de medida, lentes de sol con medida y lentes deportivos para hombres, mujeres y niños. Ofrecen una amplia variedad de estilos y marcas para satisfacer las necesidades visuales de sus clientes.
                    </p>
                </Fragment>
                <Fragment slot="tags">
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                    <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                    <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                    <span class="chip bg-indigo-500 text-white"><IconJquery/> Jquery </span>
                    <span class="chip bg-indigo-500 text-white"><IconMercadopago/> Mercado pago </span>
                </Fragment>
            </Job>

            <Job title="Puro Amor" img="img/screenshot_2.png" url="https://puroamorshop.com/" >
                <Fragment slot="content">
                    <p>
                        Tienda en línea que ofrece cajas de regalo personalizadas y productos de diseño únicos. Ideal para quienes buscan regalos especiales y personalizados para cualquier ocasión.
                    </p>
                </Fragment>
                <Fragment slot="tags">
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                    <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                    <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                    <span class="chip bg-indigo-500 text-white"><IconJquery/> Jquery </span>
                </Fragment>
            </Job>

            <Job title="Compu Andina" img="img/screenshot_4.png" url="https://compuandina.com.pe/" >
                <Fragment slot="content">
                    <p>
                        Empresa peruana dedicada a la comercialización y distribución de suministros y equipos de tecnología informática. Proveen soluciones tecnológicas tanto para empresas como para usuarios individuales.
                    </p>
                </Fragment>
                <Fragment slot="tags">
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                    <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                    <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                    <span class="chip bg-indigo-500 text-white"><IconJquery/> Jquery </span>
                    <span class="chip bg-indigo-500 text-white"><IconMercadopago/> Mercado pago </span>
                </Fragment>
            </Job>

            <Job title="Tortas lucas" img="img/screenshot_5.png" url="https://tortaslucas.com.pe/" >
                <Fragment slot="content">
                    <p>
                        Pastelería que elabora tortas y postres artesanales con ingredientes naturales. Sus productos destacan por mantener un sabor casero y auténtico, ideal para celebraciones y eventos especiales.
                    </p>
                </Fragment>
                <Fragment slot="tags">
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                    <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                    <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                    <span class="chip bg-indigo-500 text-white"><IconJquery/> Jquery </span>
                    <span class="chip bg-indigo-500 text-white"><IconMercadopago/> Izipay </span>
                </Fragment>
            </Job>

            <Job title="Brit" img="img/screenshot_3.png" url="https://brit.pe/" >
                <Fragment slot="content">
                    <p>
                        Marca de alimentos naturales y sostenibles para perros y gatos. Ofrecen productos premium y libres de granos, asegurando una alimentación saludable y balanceada para las mascotas.
                    </p>
                </Fragment>
                <Fragment slot="tags">
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                    <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                    <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                    <span class="chip bg-indigo-500 text-white"><IconJquery/> Jquery </span>
                    <!-- <span class="chip bg-indigo-500 text-white"><IconMercadopago/> Mercado pago </span> -->
                </Fragment>
            </Job>

            <Job title="Linea" img='img/photo-1522252234503-e356532cafd5.jpeg' url="" >
                <Fragment slot="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae accusamus dolore explicabo odit modi saepe sequi odio repellendus non veritatis!
                    </p>
                </Fragment>
                <Fragment slot="tags">
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                    <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                    <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                    <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                    <span class="chip bg-indigo-500 text-white"><IconMercadopago/> Mercado pago </span>
                </Fragment>
            </Job>

            <div id="jobsHidden" class="grid grid-cols-subgrid col-span-3 gap-8 max-h-0 overflow-hidden transition-all duration-300 ease-in-out">
             
                <Job title="Power Fenix" img='img/photo-1522252234503-e356532cafd5.jpeg' url="" >
                    <Fragment slot="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae accusamus dolore explicabo odit modi saepe sequi odio repellendus non veritatis!
                        </p>
                    </Fragment>
                    <Fragment slot="tags">
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                        <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                        <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                        <span class="chip bg-indigo-500 text-white"><IconMercadopago/> Mercado pago </span>
                    </Fragment>
                </Job>

                <Job title="Tecmah" img='img/photo-1522252234503-e356532cafd5.jpeg' url="" >
                    <Fragment slot="content">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae accusamus dolore explicabo odit modi saepe sequi odio repellendus non veritatis!
                        </p>
                    </Fragment>
                    <Fragment slot="tags">
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                        <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                        <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                        <span class="chip bg-indigo-500 text-white"><IconMercadopago/> Mercado pago </span>
                    </Fragment>
                </Job>
    
                <Job title="Iarebet" img="img/screenshot_6.png" url="https://iarebt.org/" >
                    <Fragment slot="content">
                        <p>
                            Instituto especializado en la formación y certificación en terapias de comportamiento racional emotivo. Ofrecen cursos y programas para profesionales interesados en esta área de la psicología.
                        </p>
                    </Fragment>
                    <Fragment slot="tags">
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                        <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                        <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                        <span class="chip bg-indigo-500 text-white"><IconJquery/> Jquery </span>
                    </Fragment>
                </Job>

                <Job title="Waira" img="img/screenshot_7.png" url="https://waira.com.pe/" >
                    <Fragment slot="content">
                        <p>
                            Empresa que ofrece soluciones tecnológicas y servicios de consultoría en transformación digital. Ayudan a las empresas a adaptarse y prosperar en la era digital mediante la implementación de tecnologías innovadoras.
                        </p>
                    </Fragment>
                    <Fragment slot="tags">
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                        <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                        <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                        <span class="chip bg-indigo-500 text-white"><IconJquery/> Jquery </span>
                    </Fragment>
                </Job>

                <Job title="Cyber plaza" img="img/screenshot_8.png" url="https://cyberplaza.com.pe/" >
                    <Fragment slot="content">
                        <p>
                            Centro comercial en Lima especializado en la venta de productos tecnológicos y electrónicos. Es un punto de referencia para quienes buscan lo último en tecnología a precios competitivos.
                        </p>
                    </Fragment>
                    <Fragment slot="tags">
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                        <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                        <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                        <span class="chip bg-indigo-500 text-white"><IconJquery/> Jquery </span>
                    </Fragment>
                </Job>

                <Job title="Piaggio" img="img/screenshot_9.png" url="https://piaggiope.com/" >
                    <Fragment slot="content">
                        <p>
                            Distribuidor oficial de motocicletas y scooters Piaggio en Perú. Ofrecen una variedad de modelos que combinan estilo, eficiencia y tecnología italiana.
                        </p>
                    </Fragment>
                    <Fragment slot="tags">
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
                        <span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
                        <span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
                        <span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
                        <span class="chip bg-indigo-500 text-white"><IconJquery/> Jquery </span>
                    </Fragment>
                </Job>
            </div>

            <div id="btnShowJobs" class="col-span-3 flex flex-col items-center">
                <button type="button" class="text-lg text-white text-center flex flex-col items-center hover:text-black-russian-400">
                    Ver más 
                    <IconArrowDown width="1.5rem" height="1.5rem"/>
                </button>
            </div>
            
            <div id="btnHiddenJobs" class="hidden col-span-3 flex flex-col items-center">
                <button type="button" class="text-lg text-white text-center flex flex-col items-center hover:text-black-russian-400">
                    <IconArrowDown class="rotate-180" width="1.5rem" height="1.5rem"/>
                    Ver menos
                </button>
            </div>
            

    

        </div>
    </div>

</section>

<script>
	
	const toggleJobs = () => {
		const btnHiddenJobs = document.querySelector('#btnHiddenJobs');
		const btnShowJobs = document.querySelector('#btnShowJobs');
		const jobsHidden = document.querySelector('#jobsHidden');
	
		btnShowJobs.addEventListener('click', (e) => {
			jobsHidden.style.maxHeight = jobsHidden.scrollHeight + "px"; 
			btnShowJobs.classList.toggle('hidden');
			btnHiddenJobs.classList.toggle('hidden');
		});
	
		btnHiddenJobs.addEventListener('click', (e) => {
			jobsHidden.style.maxHeight = null;
			btnShowJobs.classList.toggle('hidden');
			btnHiddenJobs.classList.toggle('hidden');
		});

	}

	toggleJobs();

</script>
