---
import Layout from '../layouts/Layout.astro';
import IconAmazonc2 from '../components/icons/Amazonc2.astro';
import IconAmazons3 from '../components/icons/Amazons3.astro';
import IconBootstrap from '../components/icons/Bootstrap.astro';
import IconCodeigniter from '../components/icons/Codeigniter.astro';
import IconCss from '../components/icons/Css.astro';
import IconDatabase from '../components/icons/Database.astro';
import IconDocker from '../components/icons/Docker.astro';
import IconDownload from '../components/icons/Download.astro';
import IconFaceid from '../components/icons/Faceid.astro';
import IconGit from '../components/icons/Git.astro';
import IconHtml from '../components/icons/Html.astro';
import IconJs from '../components/icons/Js.astro';
import IconLaravel from '../components/icons/Laravel.astro';
import IconNode from '../components/icons/Node.astro';
import IconOpencart from '../components/icons/Opencart.astro';
import IconPhp from '../components/icons/Php.astro';
import IconPhpstorm from '../components/icons/Phpstorm.astro';
import IconPython from '../components/icons/Python.astro';
import IconReact from '../components/icons/React.astro';
import IconTailwindcss from '../components/icons/Tailwindcss.astro';
import IconVscode from '../components/icons/Vscode.astro';
import IconVue from '../components/icons/Vue.astro';
import IconWordpress from '../components/icons/Wordpress.astro';
import IconJquery from '../components/icons/Jquery.astro';
import IconCode from '../components/icons/Code.astro';
import IconSymbolMore from '../components/icons/SymbolMore.astro';
import IconMercadopago from '../components/icons/Mercadopago.astro';
import IconGlobe from '../components/icons/Globe.astro';


---

<Layout title="Welcome to Astro.">
	<div class="bg-indigo-950 text-gray-200 w-full inset-0 sticky z-50">
			
		<header class="main p-4 sm:p-2">
			<div class="flex justify-between items-center">
				<nav class="hidden md:flex space-x-2">
					<a href="#" class="hover:text-indigo-400 px-4 py-2" >Competencias</a>
					<a href="#" class="hover:text-indigo-400 px-4 py-2" >Sobre mi</a>
					<a href="#" class="hover:text-indigo-400 px-4 py-2" >Proyectos</a>
					<a href="#" class="hover:text-indigo-400 px-4 py-2" >Experiencia</a>
					<a href="#" class="hover:text-indigo-400 px-4 py-2" >Contácteme</a>
				</nav>
		
				<button id="menu-btn" class="md:hidden text-white focus:outline-none">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
					</svg>                      
				</button>
			
				<nav id="menu" class="hidden md:flex space-x-2 ">
					<a href="#" class="hover:text-indigo-400 px-4 py-2 hover:border-indigo-400 border-2 rounded-full flex gap-2" >
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75v6.75m0 0-3-3m3 3 3-3m-8.25 6a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
						</svg>
						Descarga mi CV
					</a>
				</nav>
			
			</div>
	
			<div id="mobile-menu" class="md:hidden hidden flex flex-col space-y-1 mt-5">
				<a href="#" class="py-2 px-2 hover:bg-indigo-800 rounded" >Competencias</a>
				<a href="#" class="py-2 px-2 hover:bg-indigo-800 rounded" >Sobre mi</a>
				<a href="#" class="py-2 px-2 hover:bg-indigo-800 rounded" >Proyectos</a>
				<a href="#" class="py-2 px-2 hover:bg-indigo-800 rounded" >Experiencia</a>
				<a href="#" class="py-2 px-2 hover:bg-indigo-800 rounded" >Contácteme</a>
				<a href="#" class="py-2 px-2 hover:bg-indigo-800 rounded flex gap-2" >
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75v6.75m0 0-3-3m3 3 3-3m-8.25 6a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
					</svg>
					Descarga mi CV
				</a>
			</div>
		</header>
	</div>
	
	
	
	
	
	
	<section class="section bg-black bg-no-repeat bg-cover bg-center bg-fixed" style="background-image: url('img/1031-1000x500.jpg');" >
		<div class="section-header">
			<h2 class="section-title text-white">Mi Trabajo</h2>
			<h3 class="section-subtitle text-white">Una colección de proyectos en las que eh trabajado</h3>
		</div>
		<div class="section-content max-w-6xl" >
		
			<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-12">
				<div class="bg-slate-50 mx-8 md:mx-auto rounded-lg">
					<div>
						<img src="img/1031-1000x500.jpg" alt="" class="object-cover rounded-t-md h-48 w-full" >
					</div>
					<div class="px-4 py-4">
						<h3 class="text-md font-semibold mb-2 text-black-russian-400">Optimania</h3>
						<p class="text-xs">
							Optimania.pe es un proyecto e-comerce especialisado en la venta de lentes a medida, 
							empresa que cuenta con un gran crecimientos en los ultimos años haciendolo una de 
							las paginas mas seguras para la compra online.
						</p>
						<a href="" class="text-indigo-950 text-end block pt-5">ver mas ></a>
					</div>
				</div>
				<div class="bg-slate-50 mx-8 md:mx-auto rounded-lg">
					<div>
						<img src="img/1031-1000x500.jpg" alt="" class="object-cover rounded-t-md h-48 w-full" >
					</div>
					<div class="px-4 py-4">
						<h3 class="text-md font-semibold mb-2 text-black-russian-400">Brit</h3>
						<p class="text-xs">
							Optimania.pe es un proyecto e-comerce especialisado en la venta de lentes a medida, 
							empresa que cuenta con un gran crecimientos en los ultimos años haciendolo una de 
							las paginas mas seguras para la compra online.
						</p>
						<a href="" class="text-indigo-950 text-end block pt-5">ver mas ></a>
					</div>
				</div>
				<div class="bg-slate-50 mx-8 md:mx-auto rounded-lg">
					<div>
						<img src="img/1031-1000x500.jpg" alt="" class="object-cover rounded-t-md h-48 w-full" >
					</div>
					<div class="px-4 py-4">
						<h3 class="text-md font-semibold mb-2 text-black-russian-400">Puro Amor</h3>
						<p class="text-xs">
							Optimania.pe es un proyecto e-comerce especialisado en la venta de lentes a medida, 
							empresa que cuenta con un gran crecimientos en los ultimos años haciendolo una de 
							las paginas mas seguras para la compra online.
						</p>
						<a href="" class="text-indigo-950 text-end block pt-5">ver mas ></a>
					</div>
				</div>
				<div class="bg-slate-50 mx-8 md:mx-auto rounded-lg">
					<div>
						<img src="img/1031-1000x500.jpg" alt="" class="object-cover rounded-t-md h-48 w-full" >
					</div>
					<div class="px-4 py-4">
						<h3 class="text-md font-semibold mb-2 text-black-russian-400">Compu Andina</h3>
						<p class="text-xs">
							Optimania.pe es un proyecto e-comerce especialisado en la venta de lentes a medida, 
							empresa que cuenta con un gran crecimientos en los ultimos años haciendolo una de 
							las paginas mas seguras para la compra online.
						</p>
						<a href="" class="text-indigo-950 text-end block pt-5">ver mas ></a>
					</div>
				</div>
	
	
				<div class="bg-slate-50 mx-8 md:mx-auto rounded-lg">
					<a href="" target="_blank">
						<img src="img/1031-1000x500.jpg" alt="" class="object-cover rounded-t-md h-48 w-full" >
					</a>
					<div class="px-4 py-4 flex flex-col">
						<a href="" target="_blank">
							<h3 class="text-md font-semibold mb-2 text-black-russian-400">Optimania</h3>
						</a>
						<div class="flex flex-wrap justify-start">
							<span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
							<span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
							<span class="chip bg-indigo-500 text-white"><IconJs/> Vanilla Js </span>
							<span class="chip bg-indigo-500 text-white"><IconLaravel/> Blade</span>
							<span class="chip bg-indigo-500 text-white"><IconMercadopago/> Mercado pago </span>
							<!-- <span class="chip bg-indigo-500 text-white">Mas...</span> -->
						</div>
						<!-- <p class="text-xs">
							Optimania.pe es un proyecto e-comerce especialisado en la venta de lentes a medida, 
							empresa que cuenta con un gran crecimientos en los ultimos años haciendolo una de 
							las paginas mas seguras para la compra online.
						</p> -->
						<!-- <a href="#" class="bg-black text-indigo-400 flex gap-2 items-center "><IconGlobe/> Visitar</a> -->
					</div>
				</div>
	
				<div class="bg-slate-50 mx-8 md:mx-auto h-48 md:w-full relative rounded-lg">
					<div class="absolute inset-0 ">
						<img 
							src="https://images.unsplash.com/photo-1522252234503-e356532cafd5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw2fHxjb2RlfGVufDB8MHx8fDE2OTQwOTg0MTZ8MA&ixlib=rb-4.0.3&q=80&w=1080" 
							alt="Background Image" 
							class="object-cover object-top w-full h-full rounded-lg" 
						/>
						<div class="absolute inset-0 bg-black opacity-50 rounded-lg"></div>
					</div>
						
					<div class="relative flex flex-col justify-center items-center h-full text-center hover:bg-black hover:rounded-lg hover:bg-opacity-70">
						<div class="text-center text-gray-200">
							<p class="text-xl">Optimania</p>
						</div>
	
						<div class="flex flex-wrap justify-center">
							<span class="chip bg-indigo-500 text-white"><IconLaravel/> Laravel</span>
							<span class="chip bg-indigo-500 text-white"><IconVue/> Vuejs </span>
							<span class="chip bg-indigo-500 text-white">Mas...</span>
						</div>
						
					</div>
				
				</div>
	
	
	
				<div class="bg-slate-50 mx-8 md:mx-auto h-48 md:w-full relative rounded-lg">
					<div class="absolute inset-0 ">
						<img 
							src="https://images.unsplash.com/photo-1522252234503-e356532cafd5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw2fHxjb2RlfGVufDB8MHx8fDE2OTQwOTg0MTZ8MA&ixlib=rb-4.0.3&q=80&w=1080" 
							alt="Background Image" 
							class="object-cover object-top w-full h-full rounded-lg" 
						/>
						<div class="absolute inset-0 bg-black opacity-50 rounded-lg"></div>
					</div>
						
					<a href="" class="relative flex flex-col justify-center items-center h-full text-center hover:bg-black hover:rounded-lg hover:bg-opacity-70">
						<div class="text-center text-gray-200">
							<p class="text-lg flex items-center gap-2 hover:text-black-russian-400">Ver mas <IconSymbolMore/> </p>
						</div>
						
					</a>
				
				</div>
	
	
			</div>
		</div>
	
	</section>	
	
</Layout>

